<small><small><small><small><a href="/"><i>MOTD replay</a></i></small></small></small></small>
<br><hr><hr>
<center><h2><i> <%= @zen2 %></i></h2></center>

<hr><hr>
<br>
<!-- Modify data from weathering function to represent todays current weather -->

<center>High's for today :
<%= @max_weather = @weather["daily"]["data"][0]["temperatureMax"] %><br>
Lows's for today :
<%= @min_weather = @weather["daily"]["data"][0]["temperatureMin"] %>
</i>
<hr>

<h4><i>Mars <%= @capital_rover %> Roover</i><br></h4>
<img width="720" src="<%= @mars_photo_url %>">
<!-- <img width="720" src="<%#= @mars_rover_data["photos"][0]["img_src"] %>"> -->
</center><hr><br>
<%#= Date.today.to_s %>
<!-- Date function poc to spaceimage url call with date inlined-interporlation -->
<center>
    <%= @spacepix["title"] %>
<br>
<img width="720" src="<%= @spacepix["url"] %>">
<br>
Details : <%= @spacepix["explanation"] %>
</center>
<hr>
<br><br>
<hr><hr>
<small><small><small><small><a href="/"><i>MOTD replay</a></i></small></small></small></small>
