<small><small><small><small>
      <a href="/"><i>MOTD replay</a></i>
</small></small></small></small>
<br><hr><hr>
<center><h2><i> <%= @zen %></i></h2></center>
<!-- Setup a test output to see at which stage the mars rover data is stored -->
<!-- <h1> Set at <%= @where_mars_rover_set %></h1> -->
<hr><hr>
<br>
<!-- Modify data from weathering function to represent todays current weather -->

<center>High's for today :
    <%= @max_weather = @weather["daily"]["data"][0]["temperatureMax"] %><br>
Lows's for today :
    <%= @min_weather = @weather["daily"]["data"][0]["temperatureMin"] %>
</i>
<hr>

<h4><i>Mars <%= @capital_rover %> Roover</i><br></h4>
    <img width="720" src="<%= @mars_photo_url %>">
</center><hr><hr><br>
<center>
    <h4><i><%= @spacepix["title"] %></i></h4>
<br>
    <img width="720" src="<%= @spacepix["url"] %>">
<br><br>
    Details : <%= @spacepix["explanation"] %>
</center>
<hr>
<br><br>
<hr><hr>
  <small><small><small><small>
    <a href="/"><i>MOTD replay</a></i>
  </small></small></small></small>
