<small><small><small><small>
      <a href="/"><i>MOTD replay</a></i>
</small></small></small></small>

<br>
  <hr class="fade">
  <center><h2><i> <%= @zen %></i></h2></center>
  <hr class="fade">
<br>
<%#<!-- Update weather data, represent current weather -->%>
<center>High's for today :
    <%= @max_weather = @weather["daily"]["data"][0]["temperatureMax"] %><br>
Lows's for today :
    <%= @min_weather = @weather["daily"]["data"][0]["temperatureMin"] %>

<hr class="fade">

<h4>Mars &nbsp;<i><%= @capital_rover %></i> &nbsp; Roover<br></h4>
    <img width="720" src="<%= @mars_photo_url %>">
</center><hr class="fade"><hr class="fade"><br>

  <center>
    <h4><i><%= @spacepix["title"] %></i></h4>
      <br>
      <% if @spacepix["media_type"] = "video" %>
        <iframe max-width="720" src="<%= @spacepix["url"] %>"  frameborder="0" allowfullscreen></iframe>
      <% else %>
            <img width="720" src="<%= @spacepix["url"] %>">
      <% end %>
      <br><br>
      Details : <%= @spacepix["explanation"] %>
  </center>
    <hr class="fade">
    <br>
  <hr class="strong-fade"><hr class="fade">
    <small><small><small><small>
      <a href="/"><i>MOTD replay</a></i>
    </small></small></small></small>
