<br><hr class="fade">
<center><h3><i>The Weather of Zen </i></h3></center>
<hr class="fade">

  <center>
      <div class="zen"><h3><%= @zen %></h3></div><br>
      <hr class="fade"><hr class="fade">
<img src ="<%= @abstract_image %>">
<hr class="fade">
<%#<!--  below is debug link to page two prior to form placement-->
# <!-- <center><a href="/motd/page2"><i>Zip to Zen Form </a></center> -->
#%>
<i>
  <%= form_tag("/page2", method: "post") do %>

    <%= text_field_tag :zipcode, nil, {placeholder: 'Zip Code', style: "font-style:italic", maxlength: 5, :onclick => 'if($(this).val()=="Zip Code"){$(this).val("");};'} %>

    <%= submit_tag("Here 'n Now ") %>
  <% end %>
</i>
  <hr class="fade"><hr class="fade">

<br>
<!-- Modify data from weathering function to represent todays current weather -->
Temperature is : <%= @current_weather = @weather["currently"]["temperature"] %>
<hr class="fade">
</center>
