<small><small><small><small>
      <a href="/"><i>MOTD replay</a></i>
</small></small></small></small>

<br>
  <hr class="fade">
  <center><i><span style="font-size: 130%"> <%= @zen %></span></i></center>
  <hr class="fade">
<br>
<%#<!-- Update weather data, represent current weather -->%>
<center>
  <span style="opacity: 0.4;"><small>Highs :&nbsp;</small></span>
    <%= @max_weather = @weather["daily"]["data"][0]["temperatureMax"] %>
    <small><small>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</small></small>
  <span style="opacity: 0.4;"><small>Lows :&nbsp;</small></span>
    <%= @min_weather = @weather["daily"]["data"][0]["temperatureMin"] %>

<hr class="fade">

<h4 class="cutive">Mars &nbsp;<i><%= @mars_rover.capitalize %></i> &nbsp; Roover<br></h4>
    <img width="720" src="<%= @mars_photo_url %>">
<hr class="fade"><hr class="fade"><br>

      <% if @spacepix["media_type"] = "video" %>
        <div padding-bottom="3px"><small> Title :</small> <%= @spacepix["title"] %></div>
          <br>
          <iframe max-width="720" src="<%= @spacepix["url"] %>"  frameborder="0" allowfullscreen></iframe>
              <br><br>
            Details : <%= @spacepix["explanation"] %>
      <% else %>
        <div padding-bottom="3px"><small> Title :</small> <%= @spacepix["title"] %></div>
          <br>
            <img width="720" src="<%= @spacepix["url"] %>">
              <br><br>
            Details : <%= @spacepix["explanation"] %>
      <% end %>

  </center>
    <hr class="fade">
    <br>
  <hr class="strong-fade"><hr class="fade">
    <small><small><small><small>
      <a href="/"><i>MOTD replay</a></i>
    </small></small></small></small>
