<small><small><small><small>
  <span style="opacity: 0.4; margin: auto 5em auto;">
    <%= link_to "MOTD", root_path %></span>
</small></small></small></small>
<br>

  <span style="opacity: 0.8;"><hr class="fade"></span>
  <center><i><span style="font-size: 130%"> <%= @zen %></span></i></center>
<span style="opacity: 0.5;"><hr class="fade50w"></span>
<br>

<center>
  <span style="opacity: 0.3;"><%= @area %></span><%# small dim for lighter side of page %>
    <span style="opacity: 0.9;"> <%# small dim of '|' for lighter side of page  %>
      <small><small>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</small></small></span>
  <span style="opacity: 0.4;"><small>Highs :&nbsp;</small></span>
    <%= @max_weather = @weather["daily"]["data"][0]["temperatureMax"] %>
    <small><small>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</small></small>
  <span style="opacity: 0.4;"><small>Lows :&nbsp;</small></span>
    <%= @min_weather = @weather["daily"]["data"][0]["temperatureMin"] %>

<hr class="fade">

<span style="opacity: 0.5;"><hr class="fade35w"></span><br>
  <h4 class="cutive">Mars &nbsp;<i><%= @mars_rover.capitalize %></i> &nbsp; Roover
<span style="opacity: 0.2;"><hr class="fade19w"></span>
  </h4>
    <img style="max-width: 720px" src="<%= @mars_photo_url %>"><br>
<span style="opacity: 0.3;"><hr class="fade50w"></span>
<hr class="fade">
<span style="opacity: 0.3;"><hr class="fade50w"></span>
<br>

<div>
  <%# display condition for video or image by data["media_type"] %>
  <% if @spacepix["media_type"] == "video" %>
  <div class="apodetails-box"><div class="apodetails">
    <div padding-bottom="3px"><small> Title :</small> <%= @spacepix["title"] %></div>
      <br>
      <iframe max-width="720" src="<%= @spacepix["url"] %>"  frameborder="0" allowfullscreen></iframe>
          <br><br>
          <span style="opacity: 0.3;"><hr class="fade50w"></span>
        Details : <%= @spacepix["explanation"] %></div></div>
  <% elsif @spacepix["media_type"] == "image" %>
    <!-- <div class="apodetails-box"><div class="apodetails"> -->
      <div padding-bottom="3px"><small> Title :</small> <%= @spacepix["title"] %></div>
        <br>
          <img style="max-width: 720px" src="<%= @spacepix["url"] %>">
            <br><br>
            <span style="opacity: 0.4;"><hr class="fade50w"></span>
          Details : <%= @spacepix["explanation"] %>
        <!-- </div></div> -->
  <%# if api hit an Over rate limit or nil, return over-rate limit error%>
  <% elsif @spacepix["error"]["code"] == "OVER_RATE_LIMIT" || @spacepix == nil %>
      <small><span style="opacity: 0.7;">Astronamy Picture <sup>2</sup>&nbsp;&nbsp; successfully achieved Over Rate Limit, try again later.</span></small>
  <% end %>
</div>
  </center>
  <span style="opacity: 0.4;"><hr class="fade35w"></span>
    <hr class="fade">
  <span style="opacity: 0.3;"><hr class="fade19w"></span>

    <small><small><small><small>
      <span style="opacity: 0.7; margin: auto 5em auto;">
        <%= link_to "MOTD", root_path %></span>
    </small></small></small></small>
